<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Garment</title>
    <style>
      form {
        display: flex;
        flex-direction: column;
      }
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    </style>
  </head>
  <body>
    <h1>Add Garment</h1>
    <a href="/garments/">Kembali</a>
    <form action="/garments" method="post">
      <label for="name">Name Garment</label>
      <input type="text" name="name" id="name" />
      <label for="brand">Location</label>
      <input type="text" name="location" id="location" />
      <label for="color">Contact</label>
      <input type="text" name="contact" id="contact" />
      <button type="submit">Add Garment</button>
    </form>
  </body>
</html>
